<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/jpeg" href="images/favicon.jpeg">
    <title>Echoed Ink</title>
</head>

<body>
    <%- include("partials/header.ejs") %>
    <%- include("partials/mouse.ejs") %>

    <div class="container">
        <div class="post-container">
            <% if (blogs.length > 0) { %>
                <% blogs.forEach((blog, index) => { %>
                    <div class="post">
                        <h2><%= blog.title %></h2>
                        <p class="content" data-entire="<%= blog.post %>">
                            <%= blog.preview %>...
                        </p>
                        <button class="view">View more</button>
                        <form action="/delete" method="POST">
                            <input type="hidden" name="index" value="<%= index %>">
                            <button type="submit" class="del">Delete</button>
                        </form>
                        <hr>
                    </div>
                <% }); %>
            <% } else { %>
                <div class="post">
                    <h2>Title</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque perspiciatis labore</p>
                    <hr>
                </div>
            <% } %>
        </div>
        <%- include("partials/footer.ejs") %>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="script.js"></script>
</body>

</html>
